body {
    font-family: sans-serif;
}
header {
background-color: #B0E0E6;
border-radius: 5px;
    }
    header img {
        margin: 10px;
    }
    h1 {
        color: orange;
        text-align: center;
        font-size: 40px;
    }
    footer {
        background-color: #FFDAB9;
        padding: 5px;

    }
    footer p {
        background-color: white;
        padding: 5px;
      
    }
    nav {
        border: 2px solid grey;
        padding: 5px;
        margin: 10px;
        
    }
    nav a {
        color: grey;
        text-decoration: none;
        margin: 15px;
        
    }
      .cl1 {
        background-color: rgb(212, 80, 40);
        border-radius: 15px;
        padding: 5px;
       
    }
    .cl2 {
        background-color: rgb(212, 80, 40);
        border-radius: 15px;
        padding: 5px;
       
    }
    .cl3 {
        background-color: rgb(212, 80, 40);
        border-radius: 15px;
        padding: 5px;
       
    }
    .cl4 {
        background-color: rgb(212, 80, 40);
        border-radius: 15px;
        padding: 5px;
       
    }
    main h2 {
        color: blue;
    }
    .cl999 {
        border: 2px solid blue;
        text-decoration: none;
    }
     .cl888 {
        border: 2px solid blue;
        text-decoration: none;
    }
